spring:
  application:
    name: auth-service
  servlet:
    multipart:
      max-file-size: 25MB
      max-request-size: 25MB

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST}
    port: ${SPRING_RABBITMQ_PORT}
    username: ${SPRING_RABBITMQ_USERNAME}
    password: ${SPRING_RABBITMQ_PASSWORD}

server:
  port: 5001

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:86400000}

superadmin:
  email: ${SUPERADMIN_EMAIL}
  password: ${SUPERADMIN_PASSWORD}

storage:
  base-path: ${DOCUMENTS_PATH}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
