.background-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background-carousel .carousel {
    height: 100%;
}

.background-carousel .carousel .slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.6);
}